body {
  margin: 0;
  padding: 0;
}

.table-container {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.table-body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.table-row {
  display: flex;
  gap: 50px;
}

.table-cell {
  flex: 1 0 calc(33.33% - 50px);
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  position: relative;
}

.table-cell[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 80%;
  padding: 5px;
  background-color: #ddd;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.table-cell[data-tooltip]:hover::after {
  opacity: 1;
}
